# @Author: Zhang Guohua
# @Date:   2018-09-21 14:58:49
# @Last Modified by:   zgh
# @Last Modified time: 2018-09-21 15:52:37
# @Description: create by zgh
# @GitHub: Savour Humor
* linguist-language=css